@media screen and (max-width:576px) {
    .hamburger-menu{
        display: block;
    }
    .nav-img img{
        width: 70%;
        height: auto;
    }
    .nav-options{
        display: none;
    }

    .banner{
        flex-direction: column;
    }

    .banner-left{
        margin-top: 40px;
        width: 100%;
    }
    .banner-right{
        margin-top: 30px;
        width: 100%;
    }

    .backpacks-container{
        flex-direction: column;
    }

}